<h1>Create a User</h1>
<div>
  <label>Name:</label>
  <input type="text" [(ngModel)]='userToCreate.name' /><br><br>
</div>
<div>
  <label>Last Name:</label>
  <input type="text" [(ngModel)]='userToCreate.lastname' /><br><br>
</div>
<div>
  <label>User Name:</label>
  <input type="text" [(ngModel)]='userToCreate.username' /><br><br>
</div>
<div>
  <label>Password:</label>
  <input type="password" [(ngModel)]='userToCreate.password' /><br><br>
</div>
<div>
  <label>E-mail:</label>
  <input type="email" [(ngModel)]='userToCreate.email' /><br><br>
</div>

  <div>
    <button  (click) = "createNewUser()">Create A User</button>
  </div>







